<div class="drawer-inner" aria-label="{{_globals._accessibility._ariaLabels.drawer}}">
	<div class="drawer-toolbar clearfix">
        <div class="drawer-title">{{{_globals._tocTitle}}}</div>
		<div class="drawer-close-button">
		<a href="#" class="drawer-close icon fa-angle-right" role="button" aria-label="{{_globals._accessibility._ariaLabels.closeDrawer}}">
		</a>
		</div>
	</div>
	<div class="drawer-holder">
	</div>
</div>
