<div class="page-inner article-container" role="main" aria-label="{{_accessibility._ariaLabels.page}}">

    	<div class="page-header">
    	</div>

</div>
<div class="aria-label a11y-ignore-focus prevent-default" tabindex="0" aria-label="{{_globals._accessibility._ariaLabels.pageEnd}}"/>
